<project-detail>
  <div class="main-content">
    <div class="row">
      <h1>Project Detail</h1>
      <p>Here I describe who I am and what I do {props.params}</p>
    </div>
  </div>

  
</project-detail>