<home>
    <div class="main-content">
        <div class="row">
            <div is="project-list" data-riot-component></div>
            <div style="height: 25px"></div>
            <div is="debug-play" data-riot-component></div>
            <div is="device-list" data-riot-component></div>
        </div>
    </div>
</home>
