<home>
    <h1>ZusammenPlayer</h1>
    <div is="project-list" data-riot-component></div><br/>
    <div style="height: 25px"></div><br/>
    <div is="debug-play" data-riot-component></div><br/>
    <div is="device-list" data-riot-component></div> 
</home>
