<project-details>
  <div class="main-content">
    <div class="row">
      <h1>Project Detail</h1>
      <p>Here I describe who I am and what I do {props.params.slug} {props.params.action}</p>
    </div>
  </div>

  
</project-details>