<project>
  <h1>Projects</h1>
  <p>Select one:</p>
  <a href="project/testproject1">Testproject 1</a><br/>
  <a href="project/testproject2">Testproject 2</a><br/>
  <a href="project/testproject3">Testproject 3</a><br/>
</project>