<sidebar>
    <div id="sidebar" class="active"> 
        <device-list></device-list>
    </div> 
    <script>

        export default {
      
        }
    </script>
    <style>
        #sidebar {
            background-color: #ddd;
            padding: 10px;
            transition: all .2s ease-out;
        }
    </style>
</sidebar>